@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Your Music Application!</h1>
        <p class="lead">Discover the latest music releases, explore your favorite artists, and create your personalized playlists.</p>
        <hr class="my-4">
        <p>Start exploring now!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Featured Artist</h2>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Artist Name</h5>
                    <p class="card-text">Description or Bio of the artist.</p>
                    <a href="#" class="btn btn-primary">View Artist</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Latest Albums</h2>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Album Title</h5>
                    <p class="card-text">Description of the album.</p>
                    <a href="#" class="btn btn-primary">View Album</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Trending Songs</h2>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Song Title</h5>
                    <p class="card-text">Artist Name - Album Title</p>
                    <a href="#" class="btn btn-primary">Play Song</a>
                </div>
            </div>
        </div>
    </div>
</div>

